<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body style="overflow-y: scroll">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-body-tertiary shadow">
      <div class="container-fluid">
        <span class="navbar-brand position-absolute">
          <%= title %>
        </span>

        <div class="d-flex justify-content-center flex-grow-1">
          <button id="preview-btn" class="btn btn-primary me-2">Preview</button>
          <a id="download" href="#" class="btn btn-primary" target="_blank">Download</a>
        </div>
      </div>
    </nav>

    <main class="container-fluid" style="margin-top: 66px">
      <div id="alerts"></div>

      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea id="content" class="form-control" rows="19">### SONG TITLE

LYRICS</textarea>
            <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown Guide</a>
          </div>

          <div class="mb-3">
            <label for="css" class="form-label">CSS</label>
            <textarea id="css" class="form-control" rows="10"><%= css %></textarea>
          </div>
        </div>

        <div class="col-md-6">
          <iframe id="preview" class="w-100 h-100 border-0"></iframe>
        </div>
      </div>
    </main>

    <script>
      const app = new App();
      app.init();
    </script>
  </body>
</html>
